
body{
    
    background-image: url(https://krot.info/uploads/posts/2022-02/1644931676_3-krot-info-p-fon-pogoda-3.jpg);
   // background: linear-gradient(rgb(164, 200, 164),rgb(232, 228, 102));
   
    
   
}
.p1{
    right: auto;
    img{
        height: 70px;
        width: 70px;
    
    }
}
.p2{
    right: auto;
    img{
        height: 40px;
        width: 40px;
    
    }
}